* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--corTxt);
}



:root {
    --corDestaqueAmarelo: #FFE515;
    --corDestaqueVermelho: #ED2D23;
    --corDestaqueAzul: #40B4F5;
    --corBg1: #222125;
    --corBg2: #414141;
    --corBgBlack: #000;
    --corTxt: #fff;
    --marginLateral: 0 10%;
}

/* fonts */
@font-face {
    font-family: 'montserrat';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'loraTitulo';
    src: url('../assets/fonts/lora/Lora-Regular.ttf');
}

h1,
h2 {
    font-family: 'loraTitulo', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

h3 {
    font-family: 'montserrat';
    font-size: 2.0em;
    font-weight: 200;
}


p,
a {
    font-family: 'montserrat';
    font-size: 1.3em;
}

/* fontDetails */
.title {
    margin: 50px 10px;
}

#aboutUsTxt {
    margin: 0px 0px 25px 0px;
}

/* effects */
#headerOpt:hover {
    transition: ease-in-out 300ms;
    color: #40B4F5;
}

#headerOptions {
    margin: var(--marginLateral);
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    min-height: 50px;
    border-bottom: 2px solid var(--corTxt);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--corBg1);
}

span {
    color: var(--corDestaqueAmarelo);
}

/* assets */
.icon {
    width: 32px;
    height: 32px;

    margin: 0px 15px;
}

/* functionalElements */
button {
    display: flex;
    flex-direction: row;

    background: none;

    border-color: var(--corTxt);
    border-width: 2px;
    border-radius: 15px;

    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
}

label {
    font-family: 'montserrat';
    font-size: 1.3em;
}

input {
    background: none;

    border-color: var(--corTxt);
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    padding-left: 10px;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    margin-top: 20px;

}

#formBase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colunas de igual largura */
    gap: 10em;
    /* Espaço entre os itens da grade */
    justify-items: stretch;
    /* Faz com que os itens se estiquem para preencher a coluna */
    align-items: center;
    /* Alinha os itens verticalmente no centro da célula da grade */
    margin: 0 auto;
    /* Centraliza o formulário horizontalmente */
    max-width: 85%;
    /* Largura máxima do formulário */
    margin-top: 5em;
}

/* sections */
.spacingMargin {
    margin: var(--marginLateral)
}

section {
    margin-top: 10em;
}

header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.2s ease-in-out, background-color 0.3s ease-in-out;


    z-index: 10;
}

.headerInfoSection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    margin: 2em 0em;
}

#headerInfo {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease;
}

#headerLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header.background {
    background-color: rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    position: relative;
    width: 100%;
    /* Ocupa toda a largura da página */
    height: 100vh;
    background-image: url('../assets/imgs/bgLandingPage.png');
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    /* Faz a imagem cobrir toda a área da div */
    background-position: center;
    /* Centraliza a imagem verticalmente e horizontalmente */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
}

#landingPage {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 100%;
    height: 100%;
}

#aboutUs {
    display: flex;
    flex-direction: row;
}

#lateralBarAboutUs {
    background-color: var(--corDestaqueVermelho);
    width: 15px;
    height: auto;
}

#infoAboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px;
}

#imgAboutUs {
    width: 40%;
    height: auto;
}

#location {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#locationInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border: 2px solid var(--corDestaqueVermelho);
    padding: 3em;


    height: 700px;
}

#locationMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--corDestaqueVermelho);
    padding: 2em;
    width: 100%;
}

#map {
    display: flex;
    border: 2px solid var(--corDestaqueVermelho);

    width: 100%;
    height: 100%;
}

#yaleNewsletter {
    display: flex;
    background-image: url('../assets/imgs/bgNewsletter.png');
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

#newsletterTitle {
    margin: 0;
    position: absolute;
    right: 100px;

}

#sectionNews {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 15px;
}

#sectionWideNews {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: hidden;
    margin-right: 50px;
}

#sectionThinNews {
    display: flex;
    flex-direction: column;
    width: 30%;
    overflow: hidden;
}

.news {
    padding: 15px;
    background-color: var(--corBg2);
    margin-bottom: 50px;
}

#newsTitleMargin {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'lora';
    font-size: 1.6em;
}

.imgNews {
    width: 100%;
    height: auto;
}

#divisionLineNews {
    display: flex;
    width: 100%;
    height: 25px;
    margin: 25px 0px;
}

#lineLeft {
    background-color: var(--corDestaqueAzul);
    width: 70%;
}

#lineRight {
    background-color: var(--corDestaqueAmarelo);
    width: 30%;
}

#workWithUs {
    display: flex;
    position: relative;
    width: 100%;
    /* Ocupa toda a largura da página */
    height: 100vh;
    background-image: url("../assets/imgs/workWithUsBg.png");
    background-size: cover;
    /* Faz a imagem cobrir toda a área da div */
    background-position: center;
    /* Centraliza a imagem verticalmente e horizontalmente */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    flex-direction: column;

    justify-content: center;
}

footer {
    display: flex;

    flex-direction: column;
    width: 100%;
    margin: var(--marginLateral);

    justify-content: center;
    align-items: center;

    background-color: var(--corBgBlack);
}

#footerTitleArea {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px
}

#footerTitle {
    margin: 0px 15px
}

#footerOptions {
    width: 100%;
}
#footerTitles {
    display: flex;
    width: 100%;
    align-items: center;
}
#footerSectionsTitle {
    width: 60%;
}
#footerSocialsTitle {
    width: 40%;
}
.footerTitles {
    display: flex;
    align-items: center;
    justify-content: center;
}